
body {

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

    font-family: 'Roboto', sans-serif !important;

}
.imagen {
    border-radius: 15%;
}

#Resultado {
    margin-top: 20px;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;

}
