
body {

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif !important;

}

.bg-image {

    
        max-width: 100%;
        height: auto;
    /* Para hacer responsivo el fondo de pantalla del dispositivo*/

}

.imagen {
    border-radius: 15%;
}

/*
#Resultado {
    margin-top: 20px;
}
*/

.container {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#millas , #pulgadas, #libras, #pies {

    background-color: black !important;
    color: white !important;

}
